.borad > div {
  margin: 30px 20px 0 35px;
}

.borad h3 {
  font-size: 20px;
  margin: 0 auto;
  color: #e25e74;
}

.borad hr {
  width: 580px;
  margin-left: 0;
  border: 1px solid rgb(197, 193, 193);
}

.borad table {
  margin-top: 10px;
  margin-right: 13px;
  border-collapse: collapse;
}

.borad tr {
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.borad caption {
  margin: 5px 0 8px 0;
  text-align: right;
  font-size: 15px;
}

.borad table,
th,
td {
  border: 1px solid #ccc;
  text-align: center;
}

@media (max-width: 1060px) {
  #boardSection {
    margin-top: -1px;
    width: 298px;
    height: 523px;
    border-left: 1px solid rgb(100, 99, 99);
  }

  .boardDashed {
    width: 275px;
    height: 498px;
    margin: 10px 10px;
    border-left: 2px dashed white;
  }

  .boardWrap {
    margin: 8px 8px;
    width: 258px;
    height: 478px;
    border-left: 1px solid rgb(226, 223, 223);
  }

  .borad {
    margin: 10px 3px;
    width: 249px;
    height: 370px;
  }

  .borad > div {
    margin: 13px 10px 0 15px;
  }

  .borad h3 {
    font-size: 15px;
  }

  .borad hr {
    width: 218px;
  }

  .borad table {
    margin-right: 5px;
    font-size: 10px;
  }

  .borad table tr {
    height: 20px;
  }

  .borad caption {
    margin: 3px 0 3px 0;
    text-align: right;
    font-size: 13px;
  }
}
