body {
  margin: 0;
  padding: 0;
  font-family: "Poor Story", cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(80, 79, 79);
  background-color: #949397;
  background-image: linear-gradient(
      0deg,
      transparent 16px,
      rgb(255, 255, 255, 0.4) 17px
    ),
    linear-gradient(90deg, transparent 16px, rgb(255, 255, 255, 0.4) 17px);
  background-size: 17px 17px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #c7b7ff;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

button,
input,
select {
  font-family: "Poor Story", cursive;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(80, 79, 79);
}

.scrollBtn {
  padding: 0;
  background-color: transparent;
  border: none;
}

button:hover,
input:hover,
a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  background-color: #fefefe;
  padding: 0 10px 0 25px;
}

header h2,
a {
  margin: 0;
  color: #ec8999;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  border-left: 1px solid #d7d3d3;
  padding: 0px 8px 0px 8px;
}

nav li:first-child {
  border-left: none;
}

nav a {
  color: rgb(140, 138, 138);
}

nav a:hover {
  color: rgb(80, 79, 79);
}

nav span {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 15px;
  color: rgb(140, 138, 138);
  padding: 2px 7px 2px 7px;
}

nav button {
  border: 1px solid rgb(184, 183, 183);
  background-color: transparent;
}

main {
  margin: 0 20% 0 20%;
}

.prevSection {
  margin: 1%;
}

.prevSection input {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(161, 157, 157);
  background-color: #f1e9e9;
  color: rgb(161, 157, 157);
  font-weight: bold;
}

.prevSection input:active {
  background-color: #e2c0c0;
}

.prevSection h3 {
  color: #f1e9e9;
  display: inline-block;
  margin-left: 10px;
}

.colorDiv {
  box-sizing: border-box;
  border: 2px solid rgb(161, 157, 157);
  border-radius: 15px;
  background-image: url("../img/background.jpg");
  background-position: left top;
  background-attachment: local;
}

.dashDiv {
  box-sizing: border-box;
  margin: 2%;
  border: 2px dashed white;
  border-radius: 14px;

  background-color: rgb(255, 226, 251);
  animation-name: bgchange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes bgchange {
  0% {
    background-color: rgb(233, 191, 191);
  }
  10% {
    background-color: rgb(244, 199, 117);
  }
  25% {
    background-color: rgb(241, 241, 165);
  }
  40% {
    background-color: rgb(188, 244, 188);
  }
  50% {
    background-color: rgb(198, 188, 244);
  }
  60% {
    background-color: rgb(188, 244, 188);
  }
  75% {
    background-color: rgb(241, 241, 165);
  }
  90% {
    background-color: rgb(244, 199, 117);
  }
  100% {
    background-color: rgb(233, 191, 191);
  }
}

.wrapDiv {
  box-sizing: border-box;
  margin: 1%;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 13px;
  background-color: #f2eeee;
  padding: 20px;
}

.wrapDiv > a img {
  margin-right: 13px;
  border-radius: 15px;
  height: 300px;
}

.wrapDiv img:hover {
  filter: brightness(0.5);
}

.gridContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.gridContainer img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.gridContainer p {
  margin: 5px;
  color: rgb(80, 79, 79);
  font-size: 25px;
  font-weight: bold;
}

p[title="noBold"] {
  font-weight: 400;
}

.gridContainer span {
  font-size: 19px;
  margin-right: 5px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 1%;
}

footer li {
  float: left;
  margin-right: 20px;
}

footer img {
  width: 30px;
}

@media (max-width: 713px) {
  main {
    margin: 0 15% 0 15%;
  }
}

@media (max-width: 650px) {
  nav span {
    display: none;
  }

  nav button {
    display: none;
  }
}

@media (max-width: 600px) {
  .prevSection input {
    width: 20px;
    height: 20px;
  }

  button,
  input,
  select {
    font-size: 10px;
    margin-left: 2%;
  }

  main {
    margin: 0 10% 0 10%;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  main {
    margin: 0 5% 0 5%;
  }

  body {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 340px) {
  body {
    font-size: 10px;
  }
}
